* {
  box-sizing: border-box;
}
body {
  background-color: rgba(230, 227, 227, 0.904);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.header {
  background-color: #2c91f0;
  display: flex;
  height: 80px;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}
.header a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 7px 10px;
  height: 40px;
  margin-right: 200px;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
}
.header a:hover {
  cursor: pointer;
  background-color: #fff;
  color: #2c91f0;
}
img {
  height: 50px;
  width: 150px;
  /* margin: 15px 200px; */
  border-radius: 3px;
}
.menu {
  background-color: white;
  width: 100vw;
  height: 40px;
}
.menu ul {
  margin: 0;
  margin-left: 220px;
  padding: 10px;
}
.menu ul li {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style-type: none;
  display: inline;
}
.menu ul li a {
  width: 60px;
  font-size: 16px;
  padding: 10px;
  padding-bottom: 8.5px;
  text-decoration: none;
  color: #2c91f0;
}
.menu ul li a:hover {
  cursor: pointer;
  color: #fff;
  background-color: #2c91f0;
}
.heading {
  width: 1140px;
  display: flex;
  justify-content: space-between;
}
.heading h1 {
  margin-left: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgba(27, 27, 27, 0.973);
}
.heading a {
  margin-right: 45px;
  margin-top: 25px;
  padding-top: 3px;
  width: 150px;
  height: 30px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  background-color: #2c91f0;
}
.heading a:hover {
  background-color: #236fb6;
}
table {
  border-collapse: collapse;
  border: 1px solid rgba(27, 27, 27, 0.973);
  width: 1100px;
}
table th {
  color: #fff;
  background-color: rgba(27, 27, 27, 0.973);
  height: 30px;
  border: 0.5px solid white;
}
table td {
  height: 40px;
  border: 1px solid #fff;
  text-align: center;
}
table tr td a {
  /* margin-right: 45px; */
  /* margin-top: 25px; */
  padding: 3px;
  text-align: center;
  border-radius: 3px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  background-color: #2c91f0;
}
table tr td a:hover {
  background-color: #236fb6;
}
.page {
  margin: 50px;
}
.page a {
  width: 50px;
  height: 20px;
  color: white;
  background-color: #2c91f0;
  text-decoration: none;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 4px 10px;
  margin: 2px 5px;
  border-radius: 2px;
}
.page a:hover {
  background-color: #236fb6;
}
.page .active {
  background-color: #236fb6;
}
